/* .app{
     background-image: url("https://m.media-amazon.com/images/I/51qjthN0bEL._AC_SX466_.jpg"); 
   background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fil.lovepik.com%2Fimage-500619373%2Fblue-high-light-background.html&psig=AOvVaw3Svn2uaenWjd1b42rBvP0F&ust=1673442945630000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCMDC3PSKvfwCFQAAAAAdAAAAABAf"); 
    background-color: #88ac09;
     position: absolute;
 } */